docling
pymupdf
python-magic
pytesseract
pdf2image
Pillow
pandas
requests
python-dotenv
langchain
langchain-huggingface
langchain-chroma
sentence-transformers
camelot-py[cv]
opencv-python
fastapi
uvicorn
